/* ----------------------------------------------------------- */
/*  Color Palette                                              */
/*------------------------------------------------------------ */
/* ----------------------------------------------------------- */
/*  Fonts                                                      */
/*------------------------------------------------------------ */
@import url("https://fonts.googleapis.com/css?family=Cantarell:700i");
/* ----------------------------------------------------------- */
/*  Pixel to rem                                               */
/*------------------------------------------------------------ */
/* let the code begin
------------------------------------------------------------- */
body {
  background-color: #2a2a2a;
  color: #ffb311;
  font-family: Arial, Helvetica, sans-serif; }

html {
  position: relative;
  min-height: 100%; }

/* ----------------------------------------------------------- */
/*  landing                                                    */
/*------------------------------------------------------------ */
.landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.logo-container {
  background-color: tomato;
  width: 100vw;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 45px;
  padding-bottom: 10px; }
  .logo-container .logo {
    font-family: "Cantarell", sans-serif;
    font-size: 2.8rem; }
  .logo-container .bee {
    width: 60px;
    height: 60px;
    -webkit-transform: rotate(46deg);
    -moz-transform: rotate(46deg);
    -ms-transform: rotate(46deg);
    -o-transform: rotate(46deg);
    transform: rotate(46deg); }

.label {
  font-size: 1.688rem; }

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px; }

input.addTodo {
  width: 250px;
  height: 30px;
  font-size: 1.125rem;
  padding: 8px;
  border: none;
  color: #a3a19a; }

input.addTodo:focus {
  color: #1d1d1d; }

input.button {
  width: 80px;
  height: 46px;
  font-size: 1rem;
  border: none;
  border-radius: 0;
  padding: 8px;
  background-color: #a3a19a;
  color: white; }

input.button:focus {
  outline: none; }

.radio-container {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px; }

button {
  text-decoration: none; }

.wide-button {
  width: 200px;
  height: 46px;
  background: #2196f3;
  color: white;
  border: none;
  font-size: 1.125rem;
  text-decoration: none; }

.quick-add-container {
  position: relative;
  top: 20px; }

/* ----------------------------------------------------------- */
/*  Todo List                                                  */
/*------------------------------------------------------------ */
.task-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
  overflow-y: scroll; }

.task-label {
  font-size: 1.688rem;
  bottom: 20px;
  left: 5px;
  width: 100%;
  padding-left: 30px;
  position: relative;
  bottom: 28px;
  /* margin-bottom: 10px; */ }

.ul-wrapper {
  height: 444px;
  overflow-y: scroll;
  position: relative;
  bottom: 65px; }

.red {
  display: flex;
  flex-direction: column;
  width: 270px;
  font-size: 28px;
  padding: 15px 23px;
  background: tomato;
  border-radius: 20px;
  border: 6px #1d1d1d solid;
  margin: 5px 0 5px 0; }
  .red li {
    height: 25px;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0; }

.orange {
  display: flex;
  flex-direction: column;
  width: 270px;
  font-size: 28px;
  padding: 15px 23px;
  background: #ffb311;
  border-radius: 20px;
  border: 6px #1d1d1d solid;
  margin: 5px 0 5px 0; }
  .orange li {
    height: 25px;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0; }

.green {
  display: flex;
  flex-direction: column;
  width: 270px;
  font-size: 28px;
  padding: 15px 23px;
  background: #2196f3;
  border-radius: 20px;
  border: 6px #1d1d1d solid;
  margin: 5px 0 5px 0; }
  .green li {
    height: 25px;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0; }

/* ----------------------------------------------------------- */
/*  Footer                                                     */
/*------------------------------------------------------------ */
.droper {
  position: absolute;
  left: 0;
  bottom: 25px;
  width: 100%; }

.footer {
  width: 100vw;
  height: 65px;
  display: flex;
  justify-content: center; }

/*# sourceMappingURL=style.css.map */
