/* ----------------------------------------------------------- */
/*  Color Palette                                              */
/*------------------------------------------------------------ */
$yellow: #ffb311;
$green: #51cc7a;
$blue: #2196f3;
$grey: #a3a19a;
$fake-black: #191919;
/* ----------------------------------------------------------- */
/*  Fonts                                                      */
/*------------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css?family=Cantarell:700i');
$logo-font: 'Cantarell', sans-serif; //use all caps, bold SHOP APPS WATCH
/* ----------------------------------------------------------- */
/*  Pixel to rem                                               */
/*------------------------------------------------------------ */
$font14px: .875rem;
$font12px: .75rem;
$font10px: .625rem;
$logo-size: 2.8rem;
/* let the code begin
------------------------------------------------------------- */
body {
  background-color: $fake-black;
  color: $yellow;
  font-family: Arial, Helvetica, sans-serif;
}
.landing {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #009688;
}
.logo-container {
  background-color: tomato;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    font-family: $logo-font;
    font-size: $logo-size;
  }
  .bee {
    width: 60px;
    height: 60px;
    -webkit-transform: rotate(46deg);
    -moz-transform: rotate(46deg);
    -ms-transform: rotate(46deg);
    -o-transform: rotate(46deg);
    transform: rotate(46deg);
  }
}
// header {
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
// }
// .landing {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   background-color: teal;
//
//   .logo {
//     font-family: $logo-font;
//     color: $yellow;
//     font-size: $font14px;
//   }

input.addTodo {
  width: 200px;
  padding: 8px;
  border: none;
  color: $grey;
}

input.addTodo:focus {
  color: $fake-black;
}

input.button {
  width: 47px;
  border: none;
  border-radius: 0;
  padding: 8px;
  background-color: $grey;
  color: white;
}

input.button:focus {
  outline: none;
}
// }
