/* ----------------------------------------------------------- */
/*  Color Palette                                              */
/*------------------------------------------------------------ */
$yellow: #ffb311;
$green: #51cc7a;
$blue: #2196f3;
$grey: #a3a19a;
$fake-black: #191919;
/* ----------------------------------------------------------- */
/*  Pixel to rem                                               */
/*------------------------------------------------------------ */
$font14px: .875rem;
$font12px: .75rem;
$font10px: .625rem;
/* let the code begin
------------------------------------------------------------- */
body {
  background-color: $fake-black;
  color: $yellow;
  font-family: Arial, Helvetica, sans-serif;
}

input.addTodo {
  width: 200px;
  padding: 8px;
  border: none;
  color: $grey;
}

input.addTodo:focus {
  color: $fake-black;
}

input.button {
  border: none;
  border-radius: 0;
  padding: 8px;
  background-color: $green;
  color: white;
}

input.button:focus {
  outline: none;
}
